      #outer{
            height:500px;
            width:500px;
            border-style: solid;
            margin:auto;
            background-color: darkslategrey;
        }
        #inner{
            height:400px;
            width:400px;
            border-style: solid;
            margin:auto;
            background-color: grey;
            border-width: 40px;
            margin:50px;
            padding: 55px;
            box-sizing: border-box;
        }
        #subdiv{
            height:200px;
            width:200px;
            border-style: solid;
            background-color: darkgrey;
        }
  