@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin:0px;
    font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
#container{
    width: 90%;
    height: auto;
    /* background-color: grey; */
    margin: auto;
}
#header{
    height: 70px;
    background-color: tan;
        top:0;
    position: sticky;
}
#logodiv{
    width: 10%;
    /* background-color: green; */
    height: 100%;
    float: left;
}
#logo{
    width:100%;
    margin-top: 12px;
}
#headingdiv{
    width: 15%;
    /* background-color: blue; */
    height: 100%;
    float: left;
}
#heading{
    font-size: 20px;
    margin-top: 23px;
    margin-left: 5px;
    /* font-weight: 900; */
    position: absolute;
}
#nav{
    width: 75%;
    /* background-color: purple; */
    height: 100%;
    float: left;
}
#nav ul{
    list-style: none;
    margin-top: 22px;
}
#nav ul li{
    display: inline;
}
#nav ul li a{
    font-size: 20px;
    margin-left: 55px;
    text-decoration: none;
    color: black;
}
#banner{
    height: 600px;
    background-color: red;
}
#bannerImg{
    height: 600px;
    width: 100%;
}
#nav ul li ul{
    display: none;
}
#nav ul li:hover ul{
    display: block;
    position: absolute;
    width: 200px;
    line-height: 40px;
    background-color: tan;
    margin-left: 250px;
    margin-top:-1px;
}
#nav ul li ul li{
    margin-left: -50px;
}
#nav ul li a:hover{
    color:crimson;
}
#content{
    height: 240px;
    background-color: tan;
    padding: 40px;
    text-align: justify;
    line-height: 24px;
    font-size: 18px;
}
#content h2{
    color:brown;
}
#box{
    height: 500px;
    background-color: whitesmoke;
}
#box1,#box2,#box3{
    height:330px;
    width:310px;
    float: left;
    margin: 33px;
        box-shadow: 1px 1px 30px 1px;

    /* background-color: red; */
}
#imageSection{
    height: 271.5px;
    /* background-color: pink; */
}
#imgsec{
    height: 270px;
    width: 100%;
}
#descSection{
    padding: 10px;
    background-color: tan;
}
#about{
    height: 400px;
    padding: 40px;
    background-color: tan;
}
#leftabout{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    float: left;
    margin: 20px;
    box-shadow: 1px 1px 30px 1px;
}
#imageabout{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
#rightabout{
    height: 270px;
    width: 610px;
    padding: 30px;
    text-align: justify;
    font-size: 18px;
    line-height: 26px;
    background-color: tan;
    float: left;
    margin: 20px;
    color:black;
    box-shadow: 1px 1px 50px 1px black;
    border-radius: 20px;
}
#contact{
    height: 400px;
    /* background-color: green; */
    padding: 40px;
}
#section1{
    border-radius: 20px;
    height:300px;
    padding: 20px;
    margin:10px;
    background-color: tan;
    width:180px;
    float: left;
    box-shadow: 1px 1px 30px 1px;
}
#section2{
    border-radius: 20px;
    box-shadow: 1px 1px 30px 1px;
    height:340px;
    margin:10px;
    background-color: tan;
    width:300px;
    float: left;
}
iframe{
    border-radius: 20px;
    height:340px;
    width:300px;
}
#section1 ul li a{
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    color:black;
}
#footer{
    font-size: larger;
    padding: 10px;
}
#formSection{
    height:375px;
    width: 450px;
    background-color: tan;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 70px;
}
#formSection button{
    float: left;
    height:50px;
    width: 225px;
    font-size: 18px;
    color:black;
    border-width: 0px;
}
#in{
    background-color: tan;
}
#up{
    background-color: whitesmoke;
}
input[type="email"],input[type="password"],input[type="text"]{
    height:30px;
    width: 300px;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 17px;
    color: brown;
    text-align: center;
    background-color: transparent;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-color: black;
    outline: 0px;
}
input[type="submit"],input[type="reset"]{
    height:35px;
    width: 305px;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 16px;
    border-width: 0px;
    color:white;
    background-color: brown;
}