#outer{
    width: 97%;
    padding: 20px;
    background-color: grey;
    float: left;
}
#inner{
    height: auto;
    background-color: black;
    color:white;
    width: 21%;
    padding: 1%;
    float: left;
    margin: 1%;
}

@media screen and (max-width:950px){
#inner{
    height: auto;
    background-color: black;
    color:white;
    width: 45%;
    padding: 1%;
    float: left;
    margin: 1%;
}
}

@media screen and (max-width:555px){
#inner{
    height: auto;
    background-color: black;
    color:white;
    width: 80%;
    padding: 4%;
    float: left;
    margin: 4%;
}
}