body{
    background-color: purple;
}
@media screen and (max-width:1200px){
    body{
        background-color: red;
    }
}

@media screen and (max-width:900px){
    body{
        background-color: green;
    }
}

@media screen and (max-width:600px){
    body{
        background-color: orange;
    }
}